<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Dashboard</v-subheader>
    <v-container>
      <v-row class="">
        <v-col cols="12">
          <v-card color="#7e5e82">
            <v-card-title class="white--text">PERSONAL PROFILE</v-card-title>
            <v-card-text class="white--text">
              Pengembang Web yang berspesialisasi dalam pengembangan frontend.
              Berpengalaman dengan semua tahapan siklus pengembangan untuk
              proyek web dinamis. Bisa dalam berbagai bahasa pemrograman
              termasuk HTML5, PHP, JavaScript, CSS,MySQL.
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4" class="mx-auto">
          <v-card class="pa-5 my-3" color="#ffba93">
            <v-img
              src="https://res.cloudinary.com/alanichsan/image/upload/v1614766168/sass_sjo0pz.png"
            ></v-img>
          </v-card>
        </v-col>

        <v-col cols="12" md="4" class="mx-auto">
          <v-card class="pa-5 my-3" color="#ffba93">
            <v-img
              src="https://res.cloudinary.com/alanichsan/image/upload/v1614766171/reactjs_we1cu5.png"
            ></v-img>
          </v-card>
        </v-col>

                <v-col cols="12" md="4" class="mx-auto">
          <v-card class="pa-5 my-3" color="#ffba93">
            <v-img
              src="https://res.cloudinary.com/alanichsan/image/upload/v1614841102/HTML_certificate_sd2kng.jpg"
            ></v-img>
          </v-card>
        </v-col>

                <v-col cols="12" md="4" class="mx-auto">
          <v-card class="pa-5 my-3" color="#ffba93">
            <v-img
              src="https://res.cloudinary.com/alanichsan/image/upload/v1614841106/CSS_certificate_ippmjx.jpg"
            ></v-img>
          </v-card>
        </v-col>

                <v-col cols="12" md="4" class="mx-auto">
          <v-card class="pa-5 my-3" color="#ffba93">
            <v-img
              src="https://res.cloudinary.com/alanichsan/image/upload/v1614841109/Dicoding_q2gii9.jpg"
            ></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Dashboard",
  data: () => ({
    v0: false,
  }),
};
</script>
