<template>
  <div class="project">
    <span class="overline grey--text">Project</span>
    <v-container>
      <h1 class="text-center" style="color: #880e4f">Frontend</h1>
      <hr color="#880E4F" class="my-3 mb-9" />
      <v-row dense>
        <v-col cols="12" md="6">
          <v-card color="#7e5e82" dark class="">
            <v-card-title class="headline"> Tangria </v-card-title>

            <v-card-subtitle
              >Membuat Frontend Admin Panel dengan Vue Js</v-card-subtitle
            >

            <v-card-actions>
              <v-btn text to="/tangria"> View </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card color="#9f5f80" dark class="">
            <v-card-title class="headline"> Ohio </v-card-title>

            <v-card-subtitle
              >Membuat Frontend Admin Panel dan Main Website dengan HTML 5 dan
              CSS 3</v-card-subtitle
            >

            <v-card-actions>
              <v-btn text to="/ohio"> View </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card color="#ff8e71" dark>
            <v-card-title class="headline"> Kuliner </v-card-title>

            <v-card-subtitle
              >Membuat Main Website Restaurant dengan JSON Server dan Vue
              js</v-card-subtitle
            >

            <v-card-actions>
              <v-btn text to="/kuliner"> View </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card color="#ffba93" dark>
            <v-card-title class="headline"> Restaurant </v-card-title>

            <v-card-subtitle
              >Membuat Admin Penel dan Main Website Restaurant dengan Laravel
              dan Vue js</v-card-subtitle
            >

            <v-card-actions>
              <v-btn text to="/restaurant"> View </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card color="#ffde99" dark>
            <v-card-title class="headline"> Telme </v-card-title>

            <v-card-subtitle
              >Membuat Website Seperti Sosmed dimana kita bisa memposting apa
              yang kita pikirkan dan melihan postingan orang lain dengan ReactJs
              dan JSON Server</v-card-subtitle
            >
            <v-card-actions>
              <v-btn text to="/telme"> View </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <h1 class="text-center mt-11" style="color: #880e4f">UI & UX</h1>
      <hr color="#880E4F" class="my-3 mb-9" />
      <v-row>
        <v-col cols="12" md="4">
          <v-img
            src="https://res.cloudinary.com/alanichsan/image/upload/v1624438638/X_-_1_t22ovs.png"
            contain
          ></v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-img
            src="https://res.cloudinary.com/alanichsan/image/upload/v1624440971/iPhone_11_Pro_Max_-_1_q7859n.png"
            contain
          ></v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-img
            src="https://res.cloudinary.com/alanichsan/image/upload/v1624441190/iPhone_11_Pro_Max_-_1_1_oyfumi.png"
            contain
          ></v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-img
            src="https://res.cloudinary.com/alanichsan/image/upload/v1624441916/iPhone_11_Pro_Max_-_1_2_c8ev44.png"
            contain
          ></v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
</style>