<template>
  <div class="team">
    <span class="overline grey--text">Team</span>
    <v-container  class="my-5">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nisi
        consequuntur obcaecati a reprehenderit quae quod veniam ad quaerat vitae
        adipisci asperiores unde, molestias amet aspernatur provident, eveniet
        tenetur! Sed.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nisi
        consequuntur obcaecati a reprehenderit quae quod veniam ad quaerat vitae
        adipisci asperiores unde, molestias amet aspernatur provident, eveniet
        tenetur! Sed.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nisi
        consequuntur obcaecati a reprehenderit quae quod veniam ad quaerat vitae
        adipisci asperiores unde, molestias amet aspernatur provident, eveniet
        tenetur! Sed.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nisi
        consequuntur obcaecati a reprehenderit quae quod veniam ad quaerat vitae
        adipisci asperiores unde, molestias amet aspernatur provident, eveniet
        tenetur! Sed.
      </p>
    </v-container>
  </div>
</template>
