<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Kuliner</v-subheader>
    <v-btn to="/project" color="#583d72" dark fab small>
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-card-subtitle
              >Main Website Restaurant dengan JSON Server dan Vue
              js</v-card-subtitle
            >
          </v-card>
          <v-card class="pa-5 my-5">
            <v-carousel
              cycle
              height="100%"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Kuliner",
  components: {},
  data() {
    return {
      items: [
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614711776/Screenshot_from_2021-03-03_02-00-56_lfpuu3.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614711797/Screenshot_from_2021-03-03_02-01-06_rdtsxa.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614711799/Screenshot_from_2021-03-03_02-01-12_wwypsn.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614711778/Screenshot_from_2021-03-03_02-01-34_gskjzs.png",
        },
      ],
    };
  },
};
</script>