<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Restaurant</v-subheader>
    <v-btn to="/project" color="#583d72" dark fab small>
    <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-card-subtitle
              >Membuat Frontend dengan Bootstrap 4</v-card-subtitle
            >
          </v-card>
          <v-card class="pa-5 my-5">
            <v-carousel
              cycle
              height="100%"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Ohio",
  components: {},
  data() {
    return {
      items: [
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614663668/Screenshot_from_2021-03-02_12-31-13_yxphlw.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614663667/Screenshot_from_2021-03-02_12-31-20_kb2fjo.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614663645/Screenshot_from_2021-03-02_12-35-50_jhx7bs.png",
        },
      ],
    };
  },
};
</script>