<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Restaurant</v-subheader>
    <v-btn to="/project" color="#583d72" dark fab small>
    <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-card-subtitle
              >Membuat Admin Penel dan Main Website Restaurant dengan Laravel
              dan Vue js</v-card-subtitle
            >
          </v-card>
          <v-card class="pa-5 my-5">
            <v-carousel
              cycle
              height="100%"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Restauranr",
  components: {},
  data() {
    return {
      items: [
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614667471/Screenshot_from_2021-03-02_13-43-13_vv14wq.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614667468/Screenshot_from_2021-03-02_13-43-22_leylbr.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614667467/Screenshot_from_2021-03-02_13-43-29_cp5l70.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614667462/Screenshot_from_2021-03-02_13-43-19_zce1ce.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614667460/Screenshot_from_2021-03-02_13-43-33_b1ysgg.png",
        },
      ],
    };
  },
};
</script>