<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Tangria</v-subheader>
    <v-btn to="/project" color="#583d72" dark fab small>
    <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-container>
      <v-row>
        <v-col>
          <v-card>
            <v-card-subtitle
              >Membuat Frontend Admin Panel dengan Vue Js</v-card-subtitle
            >
          </v-card>
          <v-card class="pa-5 my-5">
            <v-carousel
              cycle
              height="100%"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Tangria",
  components: {},
  data() {
    return {
      items: [
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614839331/Screenshot_from_2021-03-04_13-28-31_fti4w4.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1614838842/Screenshot_from_2021-03-04_13-20-00_u1f9pi.png",
        },
      ],
    };
  },
};
</script>