<template>
  <div class="dashboard">
    <v-subheader class="overline grey--text">Telme</v-subheader>
    <v-btn to="/project" color="#583d72" dark fab small>
    <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-container>
      <v-row>
        <v-col>````
          <v-card>
            <v-card-subtitle
              >Membuat Website Seperti Sosmed dimana kita bisa memposting apa yang kita pikirkan dan melihan postingan orang lain dengan ReactJs
              dan JSON Server</v-card-subtitle
            >
          </v-card>
          <v-card class="pa-5 my-5">
            <v-carousel
              cycle
              height="100%"
              hide-delimiter-background
              show-arrows-on-hover
            >
              <v-carousel-item
                v-for="(item, i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Telme",
  components: {},
  data() {
    return {
      items: [
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1624436943/Screenshot_from_2021-06-23_15-28-32_n83i0e.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1624436960/Screenshot_from_2021-06-23_15-27-44_l2q2et.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1624436961/Screenshot_from_2021-06-23_15-28-09_io62lj.png",
        },
        {
          src:
            "https://res.cloudinary.com/alanichsan/image/upload/v1624436961/Screenshot_from_2021-06-23_15-27-54_frdr9f.png",
        },
      ],
    };
  },
};
</script>