<template>
  <nav>
    <v-app-bar flat app color="#fff">
      <v-app-bar-nav-icon @click="drawer = true" class="black--text"></v-app-bar-nav-icon>

      <v-toolbar-title class="text-uppercase black--text">
        <span class="font-weight-light">Bukan</span>
        <span>Alan</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
        <div class="text-center">
    <v-bottom-sheet v-model="sheet">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="#880E4F"
          dark
          fab
          small
          v-bind="attrs"
          v-on="on"
        >
                    <v-icon>mdi-account-circle</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-subheader>Contact</v-subheader>
        <v-list-item
          v-for="tile in tiles"
          :key="tile.title"
          @click="sheet = false"
        >
          <v-list-item-avatar>
            <v-avatar
              size="32px"
              tile
            >
            <v-icon v-text="tile.icon"></v-icon>
            </v-avatar>
          </v-list-item-avatar>
          <v-list-item-title>{{ tile.title }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-bottom-sheet>
  </div>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list flat>
        <v-subheader>
            <span class="font-weight-light">Bukan</span>
        <span>Alan</span>
        </v-subheader>
        <v-list-item-group v-model="selectedItem" color="#880E4F">
          <v-list-item v-for="(link, i) in links" :key="i" route :to="link.route">
            <v-list-item-icon>
              <v-icon v-text="link.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="link.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    selectedItem: 1,
    links: [
      { icon: "mdi-view-dashboard", text: "Dashboard", route: "/" },
      { icon: "mdi-folder", text: "My Projects", route: "/project" },
    ],
      sheet: false,
      tiles: [
        { icon: 'mdi-instagram', title: 'alanichsan' },
        { icon: 'mdi-gmail', title: 'Alan.Ichsan@gmail.com' },
        { icon: 'mdi-github', title: 'alanIchsan' },
        { icon: 'mdi-telegram', title: 'alan lanang ichsan' },
        { icon: 'mdi-whatsapp', title: '+62 877-2003-1123' },
      ],
  }),
};
</script>

<style>
</style>